@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
body{
   background-image: url('../../assets/site_background.jpg');
   width: 100vw;
   height: 100vh; 
   background-size: 100% 100%;
}