@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
body{
   background-image: url('../../site_background.jpg');
   width: 100vw;
   height: 100vh; 
   background-size: 100% 100%;
}
.nav {
   height: 100px;
   width: 100%;
   background-color: #494d59;
   font-family: 'Pathway Gothic One', sans-serif;
   font-size: 1in;
   color: white;
   display: flex;
   overflow: auto;
   position: static;
}

.title {
   display: flex;
}

.title_text {
   position: fixed;
   left: 38%
}

.headCat {
   font-size: 1cm;
   display: flex;
   list-style: none;
   align-items: center;
}

.headGirl {
   margin-left: 1in;
}

.app_logo {
   height: 2cm;
   position: relative;
   left: 2.3cm;
   top: 10%;
}

.account_actions {
   position: relative;
   font-size: 1cm;
   display: flex;
   list-style: none;
   left: 5in;
   
}

.cart {
   position: relative;
   left: 2cm;
}


