@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');
/* body{
   background-image: url('../../assets/site_background.jpg');
   width: 100vw;
   height: 100vh; 
   background-size: 100% 100%;
} */
.nav {
   height: 100px;
   width: 100%;
   background-color: #494d59;
   font-family: 'Pathway Gothic One', sans-serif;
   font-size: 20px;
   color: white;
   display: flex;
   justify-content: space-between;
   overflow: auto;
   box-sizing: border-box;
   padding: 0px 50px;
   text-decoration: none;
}

.Nav-link {
   text-decoration: none;
   color: white;
}

.nav-bar-left {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-left: 20px;
   font-size: 35px;
}

.ul-links {
   display: flex;
   text-decoration: none;
}

.ul-links li {
   margin-right: 50px;
   color: white;
   text-decoration: none;
}

.nav-bar-mid {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.title {
   color: white;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.title span {
   position: relative;
   top: 5px;
   font-size: 60px
}

.nav-bar-right {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-right: 20px;
   font-size: 35px;
   color: white;
   text-decoration: none;
}

#most-right-link {
   margin-right: 0;
}
a { 
   text-decoration: none;
}